summary h3 {
  display: inline;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

details.new {
  animation: fadeIn 2.5s ease-in
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

