summary h3 {
  display: inline;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

details.new {
  animation: fadeIn 2.5s ease-in
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.edit-btn {
  /* margin-left: 15px; */
  /* color: #70777f; */
  font-weight: bold;
  float: right;
  font-size: 125%;
  transform: scale(-1,1);
  /* padding-left: 10px; */
  padding-right: 10px;
  /* line-height: 80%; */
  /* line-height: 20px; */
  cursor: pointer;
  transition: 0.3s;
}
.edit-btn:hover {
  color: #484848;
}
.delete-btn {
  float: right;
  font-size: 125%;
  padding-left: 10px;
  cursor: pointer;
}
.delete-details-fade {
  opacity: 0;
  transition: 0.75s;
}
.delete-details-fade summary {
  opacity: 0;
  transition: 0.75s;
}