summary h3 {
  display: inline;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

details.new {
  animation: fadeIn 2.5s ease-in
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
.edit-delete-buttons {
  float: right;
}
.edit-btn {
  font-size: 125%;
  transform: scale(-1,1);
  display: inline-block;
  cursor: pointer;
}
.delete-btn {
  font-size: 125%;
  cursor: pointer;
}
.delete-details-fade {
  opacity: 0;
  transition: 0.75s;
}
.delete-details-fade summary {
  opacity: 0;
  transition: 0.75s;
}